<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web.login.ajax.mapper.AjaxMapper">

    <select id="getProvince" resultType="com.study.web.login.ajax.entity.areaEntity">
        SELECT CODE, NAME FROM AREA where PCODE IS NULL
    </select>

    <select id="getCity" resultType="com.study.web.login.ajax.entity.areaEntity">
        SELECT ID, NAME FROM AREA where PCODE = #{code}
    </select>
</mapper>