<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>トップ画面</title>

    <link th:href="@{/resources/css/bootstrap/bootstrap.min.css}" href="../../../../resources/css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/lg001/login.css}" href="../../../../resources/css/lg001/login.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <h1 class="text-center">登録に成功しました</h1>
    <hr>

    <div class="container">
        <a th:href="@{/}">登録に戻る</a>
    </div>

</div>

</body>
</html>